
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 52, 82);
    
}


#random-number, #total-score{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.jumbotron{
    background-color: rgb(255, 218, 95);
}

.card-body{
    background-color: rgb(195, 233, 235);
}

.card-header{
    background-color: rgb(123, 155, 192);
}